<!DOCTYPE html>
<html>
<head>
	<title>Bill</title>
</head>
<body>
<p>Bill ID: <b><%=@bill_id%></b></p><br/>
<p>Auto Number: <%=@auto_number%></p><br/>
<p>From: <%=@source%></p><br/>
<p>To: <%=@destination%></p><br/>
<p>Fare: Rs <b><%=@fare%></b><br/></p>
<button>Print</button><br/><br/>
<%= link_to 'Back', root_url%> 
</body>
</html>